<h1>Bulk Index Page</h1>
<% @bulk_discount.each do |discount| %>
<p><%= link_to discount.name, merchant_bulk_discount_path(@merchant, discount) %></p>
<p>Percentage off: <%= discount.percentage %>%</p>
<p>Quantity Threshold: <%= discount.quantity_threshold %></p>
<% end %>